<nav>
    <ul style="display:inline-block">
        <li>
            <a href="{{ path('formation_example_default') }}">Default</a>
        </li>
        <li>
            <a href="{{ path('formation_example_form') }}">Form</a>
        </li>
        <li>
            <a href="{{ path('formation_example_square', 
                {'width': 200, 'color': '55FF99'}) }}">Square</a>
        </li>
    </ul>
</nav>