{% extends 'FormationExampleBundle::base.html.twig' %}

{% block title %}Square{% endblock %}

{% block body %}
<div style="width:{{width}};height:{{width}};background-color:#{{color}}"></div>
{% endblock %}