{% extends 'FormationExampleBundle::base.html.twig' %}

{% block title %}Square{% endblock %}

{% block body %}
<div style="width:{{width}}px;height:{{width}}px;background-color:#{{color}}"></div>
{% endblock %}