{# {% extends "FormationExampleBundle::base.html.twig" %}

{% block title %}FormationExampleBundle:Super:default{% endblock %}

{% block body %}
<h1>Welcome to the Super:default page</h1>
{% endblock %} #}

<h2>Default template</h2>