{% extends "FormationExampleBundle::base.html.twig" %}

{% block title %} Default {% endblock %}

{% block body %}
<h1>Default template</h1>

<button id="btnJson">Test json</button>
<div id="divResult"></div>



<script>

var btnJson = document.getElementById('btnJson');
var divResult = document.getElementById('divResult');

btnJson.addEventListener('click', e => {
    fetch('/json')
        .then(res => res.json())
        .then(res => {
            divResult.innerText = res.firstname;
        })

})

</script>
{% endblock %}